@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Dancing+Script&family=Mulish&family=Roboto&family=Source+Sans+Pro&family=Space+Mono&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
    overflow-x: hidden;
}
.container{
    background-image: radial-gradient(#ffff00 15%, #FFEA00 60%);
    min-height: 550px;
}
/* NAVIGATION BAR */
.nav-bar{
    padding: 0 50px;
    background: #fff;
    padding: 10px 0;
    box-shadow: 20px 0 20px grey;
    /* position: fixed;
    top: 0;
    width: 100%; */
}
.nav-bar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.nav-bar ul .heading{
    float: left;
    font-family: 'Cookie', cursive;
    color: black;
    margin-left: 20px;
    font-size: 1.2rem;
}
.nav-bar ul li{
    float: right;
}
.nav-bar ul li span{
    margin: 8px 20px;
    color: #808080;
}
.nav-bar ul li span:hover{
    cursor: pointer;
}
/* MAIN CONTENT */
.main-content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 550px;
}
.main-content .text{
    position: absolute;
    left: 80px;
    max-width: 550px;
}
.main-content .text h1{
    font-family: 'Cookie', cursive;
    font-weight: lighter;
    font-size: 4rem;
}
.main-content .text p{
    line-height: 1.5;
    word-spacing: 2px;
}
.main-content  img{
    height: 550px;
    width: 700px;
    position: absolute;
    right: -30px;
}
.main-content button{
    padding: 5px 0;
    margin: 20px 0;
    border-style: none;
    border-bottom: 2px solid red;
    background: none;
    font-weight: bold;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-content button:hover{
    cursor: pointer;
}

/* MIDDLE CONTAINER */
.middle-container{
    text-align: center;
    margin: auto;
    padding: 0 0 60px 0;
}
.middle-container h2{
    margin: 50px 0;
    display: inline-block;
    border-bottom: 2px solid red;
}
.middle-container img{
    height: 250px;
    width: 160px;
    margin: 20px 20px 5px;
}
.middle-container .upper .upper-img{
    display: inline-block;
}
/* .middle-container .upper .upper-img img{
    transition: 0.2s ease;
} */
.middle-container .upper .upper-img img:hover{
    cursor: pointer;
    opacity: 0.5;
}
.middle-container .lower .lower-img{
    display: inline-block;
}
.middle-container .lower .lower-img img:hover{
    cursor: pointer;
    opacity: 0.5;
}
.cart{
    width: 80%;
    margin: 10px 10px 0;
    padding: 10px;
    border-style: none;
    background: 	#4bb543;
    color: #fff;
    border-radius: 5px;
}
.cart:hover{
    cursor: pointer;
    color: green;
}

/* SECOND LAST CONTAINER */
.second-last-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #ccc;
    padding: 50px 0;
}
.features, .social-media{
    display: inline-block;
}
.features{
    line-height: 1.8;
}
.social-media ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.social-media ul li{
    margin: 10px 0;
}

/* LAST CONTAINER */
.last-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}
.last-container ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}
.last-container ul li{
    padding: 10px;
}
.last-container ul li textarea{
    width: 100%;
    resize: none;
    text-align: center;
    padding: 10px 0 0 0;
}